.wrapper{
    width: 100%;
    margin: 100px 0px;
    box-sizing: border-box;
}

.square {
    margin: auto;
    width: 500px;
    height: 400px;
    background-color:rgb(129, 241, 127);
  }

  .square:before {
    position: relative;
    content: "";
    left: 10%;
    top: 10%;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    display: block;
  }

  .square::after {
    position: relative;
    content: "";
    left: 70%;
    top: 40%;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    display: block;
  }
