*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    padding: 10px;
    background-color: #e6e6e6;
}
.title{
    text-align: center;
    color: #431768;
    margin-bottom: 15px;
}
.subTitle{
    text-transform: uppercase;
    color:#303050c9;
    font-size: 18px;
    margin-bottom: 15px;
}
.text{
    margin-bottom: 15px;
    line-height: 22px;
}
.smallLetter{
    text-transform: lowercase;
}
.largeLetter{
    text-transform: uppercase;
}