$navigation_normal_border: none;
$navbar_border: 1px solid #BABBC5;
$navigation_hover_border: #BABBC5;
$navigation_active_border: #E71414;

$color_accent: #E71414;
$white_color: #FFFFFF;
$black_color:#000000;
$gray_color: #808080;

$button_normal_color: #FF4343;
$button_active_box_shadow: 4px 4px 30px #FF4343;
$link_messengers_color: #C6CBCD;

$image-grid-border: 2px solid #FFFFFF;
$image-grid-background-hover:  rgba(255, 67, 67, 0.8);
$image-grid-background-active:  rgba(185, 12, 12, 0.8);

$first-block-background-color: rgba(37, 43, 73, 0.8);
